*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
    padding: 0px;
    margin: 0;
    border: 1px solid gray;
}
.tbl-full thead{
    background-color: #2ed573;
    padding: 2px 10px;
}
.tbl-full thead th{
    border: 1px solid #2ed573; 
    padding: 0.5rem;
    text-align: center;
}
.tbl-30{
    width: 30%;
}
table tr{
    width: 100%;
    align-items: center ;
}
table tr:hover{
    background-color: lightgray;
}
table tr td{
    text-align: center;
    overflow-x: auto;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}


/* CSS for Menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}

/* CSS for main-content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS for Footer */
.footer{
    background-color: #ff4757;
    color: white;
}

/* CSS for Login */
.login{
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
    box-shadow: 2px 4px 2px gray;
}
.form-input{
    padding: 5px;
    font-size:1rem;
    width:100%;
    margin-top: 2px;
    border-radius: 2px;
    border: 1px solid gray;
}
.form-input:focus{
    box-shadow: 3px 5px 3px lightgray;
}
.form-label{
    margin-bottom: 15px;
    color: blue;
}
.btn-submit{
    padding: 8px 16px;
    background-color: greenyellow;
    border-radius: 2px;
    width: 100%;
    border: 1px solid gray;
    font-size: 1rem;
}
.btn-submit:hover{
    background-color: lightgreen;
    color: darkblue;
    box-shadow: 2px 2px 2px gray;
}
.form-radio{
    padding: 2px;
    margin: 2 10px;
}
/* set footer at bottom */
.footer_bottom{
    padding-bottom:30%;
}